<% parse_metadata @article %>

<%= render :partial =>'/shared/sub_menu', :locals => {:article => @article} %>

    <div id="content">
        <%= content_tag :h1, @article.head if @article.head.present? %>      

        <%= @article.body %>
    </div>
