<% parse_metadata @article %>

<%= render_sub_menu @article %>


    <div id="content">
        <%= content_tag :h1, @article.head if @article.head.present? %>      

        <%= @article.body.try(:html_safe) %>
    </div>
