<% parse_metadata @newspost %>

<%= render :partial =>'/shared/sub_menu', :locals => {:article => @article} %>

    <div id="content">
        <%= content_tag :h1, @newspost.name if @newspost.name.present? %>      

        <%= @newspost.body.try(:html_safe) %>
        
    </div>


